.animate__animated.animate__rubberBand.bgimage {
    background-repeat: no-repeat;
}

.visible-bio {
    width: 96% !important;
}

#smart-people {
    flex-direction: column-reverse;
}

.flex {
    flex-direction: column;
}
#cta {
    padding-bottom: .5em;
    padding-top: .5em;
}
#join-now-svg {
    margin-bottom: 1em;
}

#looking-to-join {
	padding-left: unset !important;
    padding-right: unset !important;

}