<!-- Four columns of officers -->
<div class="row mt-5">
    {%- include officer.html
        name = "Aaron Milner"
        position = "President"
        img = "/images/vp_milner.avif"
        email = "milnera2@nku.edu"
        bio = "Aaron Milner currently serves as President of the club, and is a sophomore studying in
        the College of Informatics."
    -%}

    {%- include officer.html
        name = "Grace Wu"
        position = "Vice President"
        img = "/images/vp_wu.avif"
        email = "Wug2@nku.edu"
        bio = "Grace Wu currently serves as Vice President of the club, and is a junior studying in
        the College of Informatics."
    -%}

    {%- include officer.html
        name = "Eurydice Lunnemann"
        position = "Secretary"
        img = "/images/sec_lunnemannE.avif"
        email = "LUNNEMANNS1@nku.edu"
        bio = "Eurydice Lunnemann currently serves as Secretary of the club, and is a sophomore studying in
        the College of Informatics."
    -%}

    {%- include officer.html
        name = "Emery Frondorf"
        position = "Treasurer"
        img = "/images/tres_frondorf.avif"
        email = "Frondorfm2@nku.edu"
        bio = "Emery Frondorf currently serves as Treasurer of the club, and is a senior studying in
        the College of Informatics."
    -%}
</div><!-- end .row -->