<!-- Four columns of officers -->
<div class="row mt-5">
    {%- include officer.html
        name = "Zack Sargent"
        position = "President"
        img = "/images/president_sargent.avif"
        email = "contact@zack.fyi"
        bio = "Zack Sargent is the current President of the Norse IoT Club. At NKU, he studies Computer
        Science. Zack also leads the Cybersecurity Training division of NKU's Cybersecurity club,
        NKCyber. He is passionate about computers and cybersecurity, and has practical work
        experience from GE and Fifth Third Bank."
    -%}

    {%- include officer.html
        name = "Aaron Milner"
        position = "Vice President"
        img = "/images/vp_milner.avif"
        email = "milnera2@nku.edu"
        bio = "Aaron Milner currently serves as Vice President of the club, and is a freshman studying in
        the College of Informatics."
    -%}

    {%- include officer.html
        name = "Samuel Lunnemann"
        position = "Secretary"
        img = "/images/sec_lunnemann.avif"
        email = "LUNNEMANNS1@nku.edu"
        bio = "Samuel Lunnemann currently serves as Secretary of the club, and is a freshman studying in
        the College of Informatics."
    -%}
</div><!-- end .row -->