<header id="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/#top">
                {%include logo.html%}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/#top">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects/">Project Showcase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#officers">Officers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://wiki.norseiot.club">Wiki</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>-->
                    <!--
                    <li class="nav-item">
                        <a class="social-header" target="_blank" href="https://github.com/norse-iot"><i class="fa fa-github"></i></a>
                        <a class="social-header" target="_blank" href="https://instagram.com/norseiot"><i class="fa fa-instagram"></i></a>
                        <a class="social-header" target="_blank" href="https://twitter.com/norseiot"><i class="fa fa-twitter"></i></a>
                        <a class="social-header" target="_blank" href="https://www.linkedin.com/company/norse-iot/"><i class="fa fa-linkedin"></i></a>
                    </li>-->
                </ul>
                <form class="d-flex">
                    <a href="https://nku.campusgroups.com/IoT/club_signup" class="btn btn-warning">Join Now!</a>
                </form>
            </div>
        </div>
    </nav>
</header>