<div class="container marketing" id="officers">
    <h2>Current Leadership</h2>
    {%- include current-leadership.html -%}
    <h2>2023-2024 Leadership</h2>
    <!-- Four columns of previous officers -->
    <div class="row mt-5">
        {%- include officer.html
            name = "Cassian Godsted"
            position = "President"
            img = "/images/president_godsted.avif"
            email = "cassian@godsted.com"
            bio = "Cassian Godsted is a web developer and event coordinator, 
            with internships at the INTERalliance of Greater Cincinnati and Northern Kentucky University's 
            College of Informatics. As the Internal Systems Admin at INTERalliance, 
            Cassian manages all aspects of INTERalliance's IT needs throughout the year, 
            including web development, data analysis, laptop automation and more. 
            They're a recent graduate of NKU's Computer Information Technology program, and are currently job hunting.
            Cassian served as President of the Norse IoT Club at NKU from 2023-2024, and Vice President
            from 2022-2023."
        -%}

        {%- include officer.html
            name = "Riley Weber-Horowitz"
            position = "Vice President"
            img = "/images/vp_weberhorowitz.avif"
            email = "riley@norseiot.club"
            bio = "Riley Weber-Horowitz is a student worker for NKU's College of Informatics.
            At NKU, she studies Public Relations and 3D Digital Effects, and she assists with social
            media, graphic design, and event planning for the College of Informatics as a student worker. 
            Riley was Vice President of the Norse IoT Club at NKU from 2023-2024."
        -%}

        {%- include officer.html
            name = "Kristoffe Wilson"
            position = "Secretary/Treasurer"
            img = "/images/sec_wilson.avif"
            email = "wilsonk45@nku.edu"
            bio = "Kristoffe Wilson served as both secretary and treasurer of the club from 2023-2024, and is a
            senior studying Data Science and Statistics."
        -%}			
    </div>
    <h2>2022-2023 Leadership</h2>
    <div class="row mt-5">
        {%- include officer.html
            name = "Kevin Muscara"
            position = "President"
            img = "/images/president_muscara.avif"
            email = "muscararak1@nku.edu"
            bio = "Kevin Muscara was president from 2022-2023 and is currently a sophomore studying Applied
            Software Engineering."
        -%}
        {%- include officer.html
            name = "Cassian Godsted"
            position = "Vice President"
            img = "/images/president_godsted.avif"
            email = "cassian@godsted.com"
            bio = "Cassian Godsted is a web developer and event coordinator,
            with internships at the INTERalliance of Greater Cincinnati and
            Northern Kentucky University's College of Informatics. As an intern,
            Cassian manages all aspects of INTERalliance's IT needs throughout the year,
            including web development, data analysis, laptop automation and more. At NKU,
            they study Computer Information Technology, and assists with day-to-day operations
            and event planning for the College of Informatics as a student worker.
            Cassian served as President of the Norse IoT Club at NKU from 2023-2024, and Vice President
            from 2022-2023."
        -%}
    </div>
    <h2>2021-2022 Leadership</h2>
    <div class="row mt-5">
        {%- include officer.html
            name = "Nick Klaene"
            position = "President"
            img = "/images/president_klaene.avif"
            email = "muscararak1@nku.edu"
            bio = "Nick Klaene was the founding
            president of the club and served from 2021-2022. He studied Computer Science and Mathematics
            and was a student worker in the Informatics+ department at NKU. Nick completed his final
            internship as an AWS Software Development Engineer at Amazon in Seattle the summer of 2022,
            and relocated to Seattle to join Amazon following his December 2022 graduation."
        -%}

        {%- include officer.html
            name = "Jonathan Makunga"
            position = "Vice President"
            img = "/images/vp_makunga.avif"
            email = "muscararak1@nku.edu"
            bio = "Jonathan Makunga was the founding vice president of the club and served from 2021-2022. He
            studied Information Technology with a minor in Computer Science, and worked at Informatics+ during
            his time at NKU. After graduating in May 2022, he joined Amazon in Seattle as a
            AWS Software Engineer."
        -%}
    </div>
        <!-- end .officer -->
</div><!-- end .row -->