<div class="row featurette {{include.image-align}}">
    <div class="col-md-{{include.text-size}}">
        <h2 id="{{include.title | slugify}}" class="featurette-heading">{{include.title}}</h2>
        <p class="lead">
            {{include.lead}}
        </p>
        <p>
            {{include.desc}}
        </p>
    </div>
    <div class="col-md-{{include.image-size}}">
        <img src="{{include.image}}" style="{{include.image-style}}"
            class="featurette-image img-fluid mx-auto">
    </div>
</div>

<hr class="featurette-divider">
