<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="The Norse IoT club is focused on student-led research and projects concerning Internet of Things devices and applications. We hope to foster a community for students, faculty, alumni, and industry professionals who are enthusiastic about the opportunities IoT has to offer. ">
    <meta name="author" content="Chris Brewer, Jonathan Makunga, Cassian Godsted">
    <title>Norse IoT Club (n-IoT)</title>
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin="anonymous">
    <link href="/css/css2.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/desktop.css" rel="stylesheet" media="(min-width: 671px)">
    <link href="/css/mobile.css" rel="stylesheet" media="(max-width: 670px)">
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/projects.css" rel="stylesheet">
    <link rel="stylesheet" id="theme">
    <link href="/favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    {%- include header.html -%}
    {{ content }}
    {%- include footer.html -%}
    <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/universalsmoothscroll-min.js"></script>
    <!-- We include the API's easing library (this is optional) -->
    <script src="/js/index.js"></script>
    <script src="/js/universalsmoothscroll-ease-functions-min.js"></script>
    <!-- Loads model-viewer for modern browsers -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
    <!-- Loads model-viewer for older browsers -->
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
</body>
</html>